/* NounDetailComponent's private CSS styles */
.container {
    margin: 10px;
}
table {
    width: 80%;
}
th, td {
    width: 45%;
    padding-right: 10px;
    text-align: left;
    vertical-align: top;
}
.definitions-container {
    display: grid;
    grid-column-gap: 30px;
}
.translations-container {
    display: grid;
    grid-column-gap: 30px;
}
.card-container {
    grid-column: 1;
}
.card-container > * {
    margin-bottom: 5px;
}
.form-container {
    grid-column: 2;
    grid-row: 1 / span 3;
}
form {
    display: flex;
    flex-direction: column;
    width: 80%;
}
mat-card-title {
    color: #fff
}
/*label {*/
/*  color: #435960;*/
/*  font-weight: bold;*/
/*}*/
/*input {*/
/*  font-size: 1em;*/
/*  padding: .5rem;*/
/*}*/
/*button {*/
/*  margin-top: 20px;*/
/*  background-color: #eee;*/
/*  padding: 1rem;*/
/*  border-radius: 4px;*/
/*  font-size: 1rem;*/
/*}*/
/*button:hover {*/
/*  background-color: #cfd8dc;*/
/*}*/
/*button:disabled {*/
/*  background-color: #eee;*/
/*  color: #ccc;*/
/*  cursor: auto;*/
/*}*/
