<div *ngIf="noun" class="container">
    <div class="mat-headline-3" style="margin-bottom: 10px;">{{noun.word | titlecase}}</div>
    <div class="mat-subtitle-1">ID: {{noun.id}}</div>

    <mat-form-field>
        <mat-label>{{noun['word']}}</mat-label>
        <input matInput>
    </mat-form-field>

    <div class="mat-headline-4" style="margin-bottom: 10px;">Translations</div>
    <div class="translations-container">
        <!-- List of translations -->
        <div class="card-container" *ngFor="let translation of translations">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{translation['word']}}</mat-card-title>
                    <mat-card-subtitle>ID: {{translation['id']}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions align="end">
                    <button mat-button>Edit</button>
                    <button mat-button>Delete</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <!-- Form to add a new translation -->
        <div class="form-container">
            <div class="mat-headline-5" style="margin-bottom: 10px;">Add a new translation:</div>
            <form>
                <mat-form-field>
                    <mat-label>Word</mat-label>
                    <input type="text"
                           placeholder="Please choose a word"
                           aria-label="Search for a Word"
                           matInput
                           (input)="filterNouns()"
                           [formControl]="myControl"
                           [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let noun of nouns" [value]="noun['word']">
                            {{noun['word']}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </form>
        </div>
    </div>
</div>

<div *ngIf="noun" style="padding: 1rem;">
    <h2>{{noun.word | titlecase}} Details</h2>
    <div><span>id: </span>{{noun.id}}</div>

<!-- Word editor -->
    <div>
        <label for="noun">Word: </label>
        <input id="noun" [(ngModel)]="noun.word" placeholder="Word">
    </div>

<!-- Gender selector -->
    <div *ngIf="language && language.is_gendered" style="display: flex; flex-direction: column; width: 20%">
        <label for="gender">Please choose the gender of your noun:</label>
        <select [(ngModel)]="noun.gender" name="gender" id="gender">
            <option value="m">Masculine</option>
            <option value="f">Feminine</option>
            <option value="n">Neuter</option>
        </select>
    </div>

<!-- List of current translations -->
    <div>
        <label for="translations">Translations:</label>
        <div id="translations">
            <div *ngFor="let translation of translations" style="display: flex; margin: 10px">
                <p>{{translation['id']}}: {{translation['word']}}</p>
                <button type="button" (click)="removeTranslation(translation['id'], noun.id)"
                        style="margin: 0 0 0 10px; padding: 0;">Remove</button>
            </div>
        </div>
    </div>

<!-- Add a new translation -->
    <div style="width: 20%; display: flex; flex-direction: column;">
        <label for="new_translation">Add a new translation: </label>
        <div id="new_translation" style="display: flex; flex-direction: column">
            <input id="noun_search" placeholder="Enter a noun to search" [(ngModel)]="search_term" (keyup)="searchNouns(search_term)">
            <select *ngIf="nouns" [(ngModel)]="newTranslationID">
                <option value="" selected disabled hidden>Please choose a translation</option>
                <option *ngFor="let noun of nouns" value="{{noun.id}}">{{noun.word}}</option>
            </select>
        </div>
        <button type="button" (click)="addTranslation()">Add</button>
    </div>

<!-- Commit controls -->
    <button type="button" (click)="save()">save</button>
    <button type="button" (click)="goBack()">go back</button>
</div>
