.add-noun-container {
    padding: 10px;
    width: 100%;
}
.form-field-full-width {
    width: 90%;
}
table{
    table-layout: fixed;
}
th, td {
    padding: 10px;
    width: 33%;
    vertical-align: top;
}

