<div class="add-noun-container">
    <label for="word">Please enter the noun you would like to add:</label>
    <input [(ngModel)]="word" id="word">
    <label for="language">Please choose what language your noun belongs to:</label>
    <select [(ngModel)]="language" name="languages" id="language">
        <option value="" selected hidden>Please choose a language...</option>
        <option *ngFor="let lang of languages;" [ngValue]="lang">{{lang.title}}</option>
    </select>
    <div *ngIf="language && language.title == 'German'" style="display: flex; flex-direction: column;">
        <label for="gender">Please choose the gender of your noun:</label>
        <select [(ngModel)]="gender" name="gender" id="gender">
            <option value="m">Masculine</option>
            <option value="f">Feminine</option>
            <option value="n">Neuter</option>
        </select>
    </div>
    <button (click)="save()">Save</button>
</div>

