.add-noun-container {
    margin: 10px;
    display: flex;
    flex-direction: column;
}
.details{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
.form-field-full-width {
    width:100%;
}

