<div class="add-noun-container">

    <div class="mat-headline-2" style="margin-bottom: 10px;">Add a Noun</div>

    <div class="mat-headline-4" style="margin-bottom: 10px;">
        Basic details:
    </div>
    <form class="add-noun-form">

        <mat-form-field class="form-field-full-width">
            <mat-label>Word</mat-label>
            <input matInput type="text" [(ngModel)]="word" name="word">
            <button *ngIf="word" matSuffix mat-icon-button aria-label="Clear" (click)="word = ''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field class="form-field-full-width">
            <mat-label>Language</mat-label>
            <mat-select [(value)]="language">
                <mat-option *ngFor="let language of languages" [value]="language">
                    {{language['title']}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="form-field-full-width" *ngIf="language && language.is_gendered">
            <mat-label>Gender</mat-label>
            <mat-select [(value)]="gender">
                <mat-option *ngFor="let gender of genders" [value]="gender.symbol">
                    {{gender.title}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <div class="mat-headline-4" style="margin-bottom: 10px;">
            Would you like to add a translation or definition?
        </div>
        <!-- Insert an autocomplete input and a definition entry here. -->
        <button mat-raised-button class="form-field-button" color="accent" (click)="save()">Save</button>
    </form>
</div>

