table {
    border-collapse: collapse;
    table-layout: fixed;
}
th, td {
    margin: 0;
    padding: 10px;
    vertical-align: top;
    text-align: left;
    border-collapse: collapse;
}
th:first-of-type, td:first-of-type {
    border-right: solid whitesmoke;
}
form {
    display: flex;
    flex-direction: column;
    width: 80%;
}
.register-container {
}
.mat-headline-4 {
    margin-bottom: 10px;
}


