<div class="register-container">
    <table style="margin-top:10px; width: 100%;">
        <th><div class="mat-headline-4">Personal Details:</div></th>
        <th><div class="mat-headline-4">Language Details:</div></th>

        <tr>
            <td><form style="padding: 40px;">
                <mat-form-field>
                    <mat-label>email</mat-label>
                    <input name="email" [(ngModel)]="email" matInput type="text">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>confirm email</mat-label>
                    <input name="confirm email" [(ngModel)]="confirm_email" matInput type="text">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>password</mat-label>
                    <input name="password" [(ngModel)]="password" matInput type="password">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>confirm password</mat-label>
                    <input name="confirm password" [(ngModel)]="confirm_password" matInput type="password">
                </mat-form-field>
                <button mat-raised-button color="accent" (click)="submit()">Submit</button>
            </form></td>
            <td>
                <table>
                    <section *ngFor="let language of languages">
                        <tr>
                            <td colspan="4"><div class="mat-headline-6">{{language['title']}}:</div></td>
                        </tr>
                        <tr>
                            <td *ngFor="let dialect of filterDialects(language['id'])">
                                <mat-checkbox (click)="addUserDialect(dialect)">
                                    {{dialect['title']}}
                                </mat-checkbox>
                            </td>
                        </tr>
                        <tr>
                            <td *ngFor="let dialect of filterDialects(language['id'])">
                                <mat-form-field>
                                    <mat-label>Proficiency</mat-label>
                                    <mat-select>
                                        <mat-option *ngFor="let level of filterLevels(language['id'])"
                                                    [value]="level['id']">
                                            {{level['title']}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                        </tr>
                    </section>
                </table>
            </td>
        </tr>
    </table>
</div>
