table {
    border-collapse: collapse;
}
th, td {
    margin: 0;
    padding: 10px;
    vertical-align: top;
    text-align: left;
    border-collapse: collapse;
    border-right: solid whitesmoke;
}
th:last-of-type, td:last-of-type {
    border-right: none;
}
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    min-width: 300px;
}
.register-container {
}
.mat-headline-4 {
    margin-bottom: 10px;
}


