<div class="register-container">
    <table style="margin-top:10px; width: 100%;">
        <th><div class="mat-headline-4">Personal Details:</div></th>
        <th><div class="mat-headline-4">Language Details:</div></th>

        <tr>
            <td><form style="padding: 40px;">
                <mat-form-field>
                    <mat-label>email</mat-label>
                    <input matInput type="text">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>confirm_email</mat-label>
                    <input matInput type="text">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>password</mat-label>
                    <input matInput type="text">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>confirm_password</mat-label>
                    <input matInput type="text">
                </mat-form-field>
                <button mat-raised-button color="accent" (click)="submit()">Submit</button>
            </form></td>
            <td>
                <table>
                    <section>
                        <tr>
                            <td colspan="4"><div class="mat-headline-6">English:</div></td>
                        </tr>
                        <tr>
                            <td><mat-checkbox>American English</mat-checkbox></td>
                            <td><mat-checkbox>Australian English</mat-checkbox></td>
                            <td><mat-checkbox>British English</mat-checkbox></td>
                            <td><mat-checkbox>Canadian English</mat-checkbox></td>
                        </tr>
                        <tr>
                            <td><mat-form-field>
                                <mat-label>Proficiency</mat-label>
                                <mat-select>
                                    <mat-option>Functional</mat-option>
                                    <mat-option>Vocational</mat-option>
                                    <mat-option>Competent</mat-option>
                                    <mat-option>Proficient</mat-option>
                                    <mat-option>Superior</mat-option>
                                </mat-select>
                            </mat-form-field></td>
                        </tr>
                    </section>
                    <section>
                        <tr>
                            <td colspan="4"><div class="mat-headline-6">German:</div></td>
                        </tr>
                        <tr>
                            <td><mat-checkbox>High German</mat-checkbox></td>
                            <td><mat-checkbox>Austrian German</mat-checkbox></td>
                            <td><mat-checkbox>Swiss German</mat-checkbox></td>
                        </tr>
                    </section>
                </table>
            </td>
        </tr>
    </table>
</div>
