<div class="register-container">
    <table style="margin-top:10px; width: 100%;">
        <th><div class="mat-headline-4">Personal Details:</div></th>
        <th><div class="mat-headline-4">Language Details:</div></th>

        <tr>
            <td><form style="padding: 40px;">
                <mat-form-field>
                    <mat-label>email</mat-label>
                    <input name="email" [(ngModel)]="email" matInput type="text">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>confirm email</mat-label>
                    <input name="confirm email" [(ngModel)]="confirm_email" matInput type="text">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>password</mat-label>
                    <input name="password" [(ngModel)]="password" matInput type="password">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>confirm password</mat-label>
                    <input name="confirm password" [(ngModel)]="confirm_password" matInput type="password">
                </mat-form-field>
                <button mat-raised-button color="accent" (click)="submit()">Submit</button>
            </form></td>
            <td>
                <table>
                    <tr>
                        <td><mat-form-field>
                            <mat-label>Language</mat-label>
                            <mat-select [(ngModel)]="selected_language">
                                <mat-option *ngFor="let language of languages" value="{{language['id']}}">
                                    {{language['title']}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field></td>
                        <td><mat-form-field>
                            <mat-label>Dialect</mat-label>
                            <mat-select [disabled]="selected_language == null" [(ngModel)]="selected_dialect">
                                <mat-option *ngFor="let dialect of dialects" value="{{dialect['id']}}">
                                    {{dialect['title']}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field></td>
                        <td><mat-form-field>
                            <mat-label>Proficiency</mat-label>
                            <mat-select [disabled]="selected_dialect == null" [(ngModel)]="selected_proficiency">
                                <mat-option *ngFor="let option of selected_proficiency_options" value="{{option}}">
                                    {{option}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field></td>
                        <td style="vertical-align: middle">
                            <button mat-raised-button color="primary" (click)="addLanguage()">Add Language</button>
                        </td>
                    </tr>
                    <tr *ngFor="let user_language of user_languages">
                        <td colspan="4">
                            <mat-card>
                                <mat-card-content>
                                    <table style="table-layout: fixed;">
                                        <tr>
                                            <td><p>Language: {{user_language['language_id']}}</p></td>
                                            <td><p>Dialect: {{user_language['dialect_id']}}</p></td>
                                            <td><p>Proficiency: {{user_language['proficiency']}}</p></td>
                                        </tr>
                                    </table>
                                </mat-card-content>
                                <mat-card-actions>
                                    <button mat-button
                                            (click)="removeLanguage(user_language['language_id'], user_language['dialect_id'])">
                                        Remove
                                    </button>
                                </mat-card-actions>
                            </mat-card>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
